body {
	background-color: white;
}

.purpose {
	font-family: 'Montserrat', sans-serif;
	display: block;
}
.purpose h1{
	font-size: 70px;
}
.purpose p{
	font-size: 20px;
	width: auto;
}
.purpose img {
	display: block;
	border-radius: 50%;
	height: auto;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.heading-banner h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	text-align: center;
}
.col-md-4 h3{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
.col-md-4 p{
	text-align:center;
	font-family: 'Open Sans', sans-serif;
}
.col-md-4 li{
	font-family: 'Open Sans', sans-serif;
}
.experience img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	max-height: 100px;
	height:auto;
	width:auto;
}
.education img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-height: 100px;
	height:auto;
	width:auto;
	margin-top:20px;
}
.contact{
	text-align: center;
	padding: 25px 0px;
	background-color: black;
	color: white;
}

.contact a{
	color: white;
}